build/
.gradle/
*.apk
output.json
captures/
.externalNativeBuild/
.cxx/
local.properties
*.log
deploymentTargetDropDown.xml
render.experimental.xml
*.iml
.idea/
misc.xml
*.jks
*.keystore
google-services.json
*.hprof



